# Firebase Configuration (Optional, usually handled via firebase-applet-config.json)
# FIREBASE_PROJECT_ID=
# FIREBASE_API_KEY=

# Supabase Configuration
VITE_SUPABASE_URL=https://ytggtsulpzykmrskjhje.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_n6mV5JTDJl6fzJvVyxd8NA_h7tRzjsX
